{% extends 'accounts/base.html' %}
{% include 'sell/' %}
{% load static %}
{% load bootstrap4 %}


{% load crispy_forms_tags %}
{% block main %}
 {% bootstrap_javascript jquery='full' %}

{#    <div class="container">#}


{#{%  block main %}#}




<div class="container">



    <div >
        <h2> Please Fill in details of your product using the following form</h2>

        <form method="post" action="{% url  'sell' %}" enctype="multipart/form-data">
            {% csrf_token %}
{#            {% bootstrap_form form %}#}
            {{ form.media }}
            <div class="row col-md-10">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Product Name</label>
                        {{ form.ProductName }}


                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Category</label>
                        {{ form.category }}


                    </div>

                </div>



            </div>
            <div class="row col-md-10">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Expected Maturity Date</label>
                        {{ form.MaturityDate }}


                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Price</label>
                        {{ form.price }}


                    </div>

                </div>



            </div>
            <div class="row col-md-10">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>County</label>
                        {{ form.location }}


                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Sub-Location</label>
                        {{ form.sublocation }}


                    </div>

                </div>



            </div>
            <div class="row col-md-10">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Unit of Sale</label>
                        {{ form.unitofsale }}


                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Product Image</label>
                        {{ form.image}}


                    </div>

                </div>



            </div>
            <div class="row col-md-10">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Describe Your Farming</label>
                        {{ form.DescribeFarming }}


                    </div>

                </div>




            </div>
            <div class="row col-md-10">
                <div class="col-md-6">
                    <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg"> Sell </button>


                    </div>

                </div>




            </div>

{#            <input type="submit" value="Sell">#}
        </form>
    </div>

</div>




{#       </div>#}

{% endblock  %}



{#{% endblock %}#}