{% extends 'accounts/base.html' %}
{% include 'sell/' %}
{% load static %}
{% load bootstrap4 %}


{% load crispy_forms_tags %}
{% block main %}
 {% bootstrap_javascript jquery='full' %}

{#    <div class="container">#}


{#{%  block main %}#}




<div class="row">
<div class="container">



    <div class="col col-md-4 col-md-offset-4">
        <h2> Please Fill in details of your product using the following form</h2>

        <form method="post" action="{% url  'sell' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {{ form.media }}
            <br>

            <button type="submit" class="btn btn-success mt-5"> Sell </button>
{#            <input type="submit" value="Sell">#}
        </form>
    </div>

</div>
</div>




{#       </div>#}

{% endblock  %}



{#{% endblock %}#}