{% extends 'accounts/base.html' %}
{% load static %}
{% block main %}
        <div class="row">
            <h3>Requested orders </h3>
            {% for order in orders %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail text-center">
                    <br/>
                    <h5 class="text-primary">{{ order.title }}</h5>
                    <ul>
                        <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i>location: {{ order.location }}</li>
                        <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i>Category:   {{ order.category }}</li>
                        <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i>By: {{ order.period }}</li>
{#                        <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> {{ order.description }}</li>#}
{#                        <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Quad 2.1GHz + Quad </li>#}
{#                        <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Internal 32 GB </li>#}
                    </ul>
{#                    <h4 class="text-primary">Rs. 49,900</h4>#}
                    <a href="single_product.html" class="btn btn-success btn-block text-white">View</a>
                </div>
            </div>
            {% endfor %}
            <nav>
                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </div>








{% endblock %}