{% extends 'accounts/base.html' %}
{% include 'sell' %}
{% load static %}

{% block main %}
{% load bootstrap4 %}
 {% bootstrap_javascript jquery='full' %}


{#    <div class="container">#}


{#{%  block main %}#}




<div class="row">
<div class="container">



    <div class="col col-md-4 col-md-offset-4">
        <h2> Make an Order using the following form</h2>

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {%bootstrap_form form %}
            {{ form.media }}

            <br>

            <button type="submit" class="btn btn-success mt-5"> Order </button>
        </form>
    </div>

</div>
</div>




{#       </div>#}

{% endblock  %}



{#{% endblock %}#}